/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(HomeImage.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	margin: auto;
	max-width: 80em;
}

div.container { 
	position: relative;
	min-height: 100vh;
	background-color: rgb(231, 211, 186);
	margin: auto;
	max-width: 80em;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 2rem 2rem 4rem;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	background: rgb(126,177,172);
	padding: 1.5rem 0.5rem 1.2rem;
	}

h1 {
	width: 15em;
	margin-top: 2em;
	font-family: "mostra-nuova", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(104, 82, 45);
	}

h2, h3, h4 {
font-family: "mostra-nuova", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 1.7rem;
color: rgb(104, 82, 45);
	}

h2 {
	font-size: 2.5rem;
	margin:1rem 0rem 2rem;
	}
	
h3 {
	font-size: 1.9rem;
	margin: 2rem 0rem 1rem;
}

body {
	font-family: "mostra-nuova", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	background-color: rgb(231, 211, 186);
	color: rgb(104, 82, 45)
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1.25em;
}

article {
	font-family: "mostra-nuova", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(104, 82, 45);
	max-width: 30em;
	margin: auto;
	text-align: left;
	line-height: 1.5em;
}

main.menu ul {
	margin: 2rem 0rem;
}	

	main.menu ul li {
	margin: 2rem 0rem 2rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}	

p {
	margin: 1rem 1rem 1rem;
	}
	
p.description {
	grid-column: 1/3;
	margin: 0rem;
	padding-bottom: 1rem;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(104, 82, 45);
	font-weight: 700;
	text-align: right;
	margin: 0rem;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.5rem;
	font-size: 1rem;
	}
	
nav ul li a {
	font-family: "mostra-nuova", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5rem;
	color:rgb(104, 82, 45);
	padding: 0.5rem;
	}
	
nav ul li.selected a { 
	font-family: "mostra-nuova", sans-serif;
	font-weight: 700;
	font-style: normal;
	background-color: rgb(231, 211, 186);
	color: rgb(104, 82, 45);	
}



p.slogan {
	font-size: 3.7rem;
	margin: 1rem 0rem 6rem;
	font-family: "mostra-nuova", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(231, 211, 186)
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background: rgb(231, 211, 186);
}

address {
	color: rgb(231, 211, 186);
	}

footer p {
	margin: 0;
}

	@media screen and (min-width: 60em) {
	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.5em 5em;
	}
}

nav {
	margin: 1.5em;
}